MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
ECG_VISUALIZE_WORKERS=
LOG_LEVEL=WARNING

# Dataset storage path
DATASET_ROOT=data/raw-datasets

# Object storage configuration
S3_ENDPOINT=http://object-storage:3900
S3_REGION=garage
S3_BUCKET=
S3_KEY_NAME=python313
S3_ACCESS_KEY=
S3_SECRET_KEY=
GARAGE_RPC_SECRET=$(openssl rand -hex 32)
GARAGE_ADMIN_TOKEN=$(openssl rand -base64 32)
GARAGE_METRICS_TOKEN=$(openssl rand -base64 32)
GARAGE_DATA_DIR=./data/object-storage/data
