MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
ECG_VISUALIZE_WORKERS=1
LOG_LEVEL=WARNING
MIN_NORMAL_RR_INTERVAL_SEC=0.6
MAX_NORMAL_RR_INTERVAL_SEC=1.0
NORMAL_SEGMENT_DURATION_SEC=300

# Optuna database configuration
OPTUNA_DB_DRIVER=mysql+pymysql
OPTUNA_DB_USER=root
OPTUNA_DB_PASSWORD=foo
OPTUNA_DB_HOST=localhost
OPTUNA_DB_PORT=3306
OPTUNA_DB_NAME=optuna

# Dataset storage path
DATASET_ROOT=data/raw-datasets

# Object storage configuration
S3_ENDPOINT=http://object-storage:3900
S3_REGION=garage
S3_BUCKET=
S3_KEY_NAME=python313
S3_ACCESS_KEY=
S3_SECRET_KEY=
GARAGE_RPC_SECRET=$(openssl rand -hex 32)
GARAGE_ADMIN_TOKEN=$(openssl rand -base64 32)
GARAGE_METRICS_TOKEN=$(openssl rand -base64 32)
GARAGE_DATA_DIR=./data/object-storage/data
